.ExampleComponent .main-wrap {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
  }
  .ExampleComponent .main-wrap .swiper-container {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 3px solid red;
  }
  .ExampleComponent .main-wrap .swiper-container .swiper-wrapper {
    width: calc((300px * 3) + 17px);
    display: flex;
    justify-content: flex-start;
    background-color: black;
  }
  .ExampleComponent .main-wrap .swiper-container .swiper-wrapper .swiper-slide {
    width: 33% !important;
    min-width: 300px;
  }
  
  .ExampleComponent
    .main-wrap
    .swiper-container
    .swiper-wrapper
    .swiper-slide
    .main-slide-item {
    width: 300px;
    height: 400px;
    font-family: "Spoqa Han Sans Neo", "Spoqa Han Sans JP", sans-serif;
    color: white;
    position: relative;
    border-radius: 32px;
  }
  .ExampleComponent
    .main-wrap
    .swiper-container
    .swiper-wrapper
    .swiper-slide
    .main-slide-item
    > p {
    font-size: 20px;
    position: absolute;
    bottom: 50px;
    left: 25px;
  }
  
  .ExampleComponent
    .main-wrap
    .swiper-container
    .swiper-wrapper
    .swiper-slide
    .main-slide-item
    > span {
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    left: 25px;
  }
  